@model OrderFormModel

@{
	ViewBag.Title = "Checkout";
}
<h2 class="text-center" style="padding-bottom: 10px; padding-top: 10px">@ViewData["Title"]</h2>
<hr />

<form method="post" asp-action="Checkout" asp-controller="BasketItem">
	<link rel="stylesheet" type="text/css" href="~/css/Checkout.css" />
	<div class="row">
		<div class="col-50">
			<h3>Billing Address</h3>

			<label asp-for="CustomerName"><i class="fa fa-user"></i> Full Name</label>
			<input asp-for="CustomerName" class="form-control" type="text" placeholder="Victor Petrov">
			<span asp-validation-for="CustomerName" class="small text-danger"></span>

			<label asp-for="CustomerEmail"><i class="fa fa-envelope"></i> Email</label>
			<input asp-for="CustomerEmail" class="form-control" type="email" placeholder="victor@example.com">
			<span asp-validation-for="CustomerEmail" class="small text-danger"></span>

			<label asp-for="CustomerAddress"><i class="fa fa-address-card-o"></i> Address</label>
			<input asp-for="CustomerAddress" class="form-control" type="text" placeholder="Tsar Kaloyan 12">
			<span asp-validation-for="CustomerAddress" class="small text-danger"></span>

			<label asp-for="City"><i class="fa fa-institution"></i> City</label>
			<input asp-for="City" class="form-control" type="text" placeholder="Sofia">
			<span asp-validation-for="City" class="small text-danger"></span>

			<div class="row">
				<div class="col-50">
					<label asp-for="Country">Country</label>
					<input asp-for="Country" class="form-control" type="text" placeholder="NY">
					<span asp-validation-for="Country" class="small text-danger"></span>
				</div>
				<div class="col-50">
					<label asp-for="ZipCode">Zip</label>
					<input asp-for="ZipCode" class="form-control" type="text" placeholder="1000">
					<span asp-validation-for="ZipCode" class="small text-danger"></span>
				</div>
			</div>
		</div>

		<div class="col-50">
			<h3>Payment</h3>
			<label for="fname">Accepted Cards</label>
			<div class="icon-container">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
				<i class="fa fa-cc-visa" style="color:navy;"></i>
				<i class="fa fa-cc-amex" style="color:blue;"></i>
				<i class="fa fa-cc-mastercard" style="color:red;"></i>
				<i class="fa fa-cc-discover" style="color:orange;"></i>
			</div>
			<label asp-for="NameOnCard">Name on Card</label>
			<div>
				<input asp-for="NameOnCard" class="form-control" type="text" placeholder="John More Doe">
				<span asp-validation-for="NameOnCard" class="small text-danger"></span>
			</div>
			<label asp-for="CardNumber">
				<i class="bi bi-credit-card-2-back">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-2-back" viewBox="0 0 16 16">
						<path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5z" />
						<path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm13 2v5H1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1m-1 9H2a1 1 0 0 1-1-1v-1h14v1a1 1 0 0 1-1 1" />
					</svg>
				</i>Credit card number
			</label>
			<div>
				<input asp-for="CardNumber" class="form-control" type="text" placeholder="1111-2222-3333-4444">
				<span asp-validation-for="CardNumber" class="small text-danger"></span>
			</div>
			<label asp-for="ExpirationMonth">Exp Month</label>
			<div>
				<input asp-for="ExpirationMonth" class="form-control" type="text" placeholder="12">
				<span asp-validation-for="ExpirationMonth" class="small text-danger"></span>
			</div>
			<div class="row">
				<div class="col-50">
					<label asp-for="ExpirationYear">Exp Year</label>
					<input asp-for="ExpirationYear" class="form-control" type="text" placeholder="2024">
					<span asp-validation-for="ExpirationYear" class="small text-danger"></span>
				</div>
				<div class="col-50">
					<label asp-for="CVV">CVV</label>
					<input asp-for="CVV" class="form-control" type="text" placeholder="352">
					<span asp-validation-for="CVV" class="small text-danger"></span>
				</div>
			</div>
		</div>

	</div>
	<label>
		<input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
	</label>
	<label>
		<p>
			<i class="bi bi-info-circle">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
					<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
					<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
				</svg>
			</i>If you're paying in cash do not enter card details
		</p>
	</label>
	<div class="col-25">
		<div class="container">
			<h4>
				Cart
				<span class="price" style="color:black">
					<i class="fa fa-shopping-cart"></i>
					<b>Items: @Model.BasketItems.Sum(i => i.Quantity)</b>
				</span>
			</h4>
			@{
				decimal totalPrice = 0;
			}
			@foreach (var item in @Model.BasketItems)
			{
				decimal currentPrice = item.Price * item.Quantity;
				totalPrice += currentPrice;
				<p><a>@item.ProductName</a> <a> x @item.Quantity</a> <span class="price">@currentPrice BGN</span></p>
			}
			<hr>
			<p>Total <span class="price" style="color:black"><b>@totalPrice BGN</b></span></p>
		</div>
	</div>
	<input type="submit" value="Continue to checkout" class="btn">
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}